@import 'normalize.css';
@import "variables.module";
@import "header.module";
@import "game.module";
@import "menu.module";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page {
  font-family: "Open Sans", sans-serif;
  background-color: $color-white;
}

.page__wrapper {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  padding: 60px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 80px;
}

.main-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
}

.settings__levels {
  width: 100px;
  height: 668px;
  background-color: $color-main-light;
}