// color
$color-white: #fff;
$color-black: #000;
$color-accent: #fff500;
$color-main: #454545;

// change value dipending on game size
$size-game: 15;
$size-cell: 20px;

// border
$border-thickness: 2px;
$border-gap: 1px;

// background
$background-numbers: #ebe8e8;