// color
$color-white: #fff;
$color-black: #000;
$color-accent: #ee9b01;
$color-accent-dark: #da6a00;
$color-main: #454545;
$color-main-light: #c8d2d1;
$color-secondary-dark: #14471e;
$color-secondary-light: #68904d;

// change value dipending on game size
$size-game: 15;
$size-cell: 20px;

// border
$border-thickness: 2px;
$border-gap: 1px;